.authorization {
    width: calc(var(--main-container-width) * 0.5);
}

.authorization__title {
    color: var(--light-color);
    font-size: calc(var(--big-text-size) * 1.25);
    margin: 0 0 calc(var(--main-retreat) * 2);
}

.authorization__form-wrapper {
    display: flex;
}

.authorization__field-wrapper {
    width: 100%;
    margin-right: var(--main-retreat);
}

.authorization__field {
    padding: var(--main-retreat);
    font-size: var(--big-text-size);
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--light-color);
    color: var(--light-color);
}

.authorization__button {
    font-size: var(--big-text-size);
    padding: var(--main-retreat) calc(var(--main-retreat) * 2);
    background: var(--light-color);
    border-radius: var(--border-radius);
    color: var(--dark-color);
    border: 0;
}
